body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.App-header {
  background-color: #ffd580; /* lighter orange */
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  color: #333;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.connect-button, .action-button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.connect-button:hover, .action-button:hover {
  background-color: #cc7a00;
}

.connect-button:focus, .action-button:focus {
  outline: none;
}

.about {
  text-align: left;
  padding: 20px;
}

.about h2 {
  font-size: 2em;
  color: #333;
}

.about p {
  font-size: 1.1em;
  color: #666;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  margin: 10px 0;
  font-size: 1.1em;
  color: #444;
}
